.my-card {
            margin: 15px;
            padding: 20px;
            border: 1px solid #333;
            border-radius: 5px;
            width: 30%;
            /* justify-content: center; */
            /* align-items: center; */
            place-items: center; */ */ */
            /* display: flex; */
        }

centered-div {
  width: 50%; /* Or any specific width */
  margin: 0 auto; /* Top/bottom margin 0, left/right auto */
}

.h1 {
  text-align: left;
  color: white;
}

.h3 {
  text-align: center;
  color: white;
}

body { 
  background-color: #333;
}

.h0 {
  color: white;
}